<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies List</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Add a new movie</h1>
    <div>
      Title:<input id="title"><br />
      Year:<input id="year"><br />
      Genre:<input id="genre"><br />
    <button type="submit" id="submitMovie">Submit</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/scripts.js"></script>

  </body>
</html>
